/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

body{
  margin: 1.5%;
  background-color:#222222;
}

img {
  /* IE7、FF等其他非 IE 瀏覽器下最大寬度為 500px , IE6 以下不支援 max-width 屬性 */
  max-width:500px;
  /* 所有瀏覽器中圖片的大小為 500px */
  width:500px;
  /* 當圖片大小大於 500px，自動縮小為 500px */
  width:expression(document.body.clientWidth>500?"500px":"auto");
  overflow:hidden;
  border-radius: 50%;
}

div{
  overflow:hidden;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
#dog_intro{
  font-size: 35px;
  font-weight: 700;
  color:#FF7744;
  position: relative;
  bottom: 80px;
  left: 400px;
}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #dog_intro{
  font-size: 15px;
  font-weight: 700;
  color:#FF7744;
  position: relative;
  bottom: 50px;
  left: 200px;
  }

  img {
  /* IE7、FF等其他非 IE 瀏覽器下最大寬度為 500px , IE6 以下不支援 max-width 屬性 */
  max-width:250px;
  /* 所有瀏覽器中圖片的大小為 500px */
  width:250px;
  /* 當圖片大小大於 500px，自動縮小為 500px */
  width:expression(document.body.clientWidth>250?"250px":"auto");
  overflow:hidden;
  border-radius: 50%;
  }

}
